name: calculator
description: calculator application

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  math_expressions:
    git:
      url: https://github.com/danger-ahead/math-expressions.git
      ref: add-degree-hack
  flutter_riverpod: ^1.0.3
  shared_preferences: ^2.0.11
  flutter_vibrate: ^1.3.0
  url_launcher: ^6.0.17

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

assets:
  - assets/icon.png
